@{
    ViewData["Title"] = "Login";
}
<div class="login-page">
    <div class="lead">
        <h1>Login</h1>
    </div>

    <div class="row">

        <div class="col-sm-6">
            <div class="card">

                <div class="card-body">
                    <form asp-controller="Auth">
                        <input type="hidden" dirname="returnUrl" value="" />

                        <div class="form-group">
                            <label>Name</label>
                            <input class="form-control" placeholder="Username" name="Name">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" placeholder="Password" name="Password" autocomplete="off">
                        </div>

                        <div class="form-group m-3">
                            <input class="form-check-input" type="checkbox" id="flexCheckDefault" name="RememberLogin" value="true">
                            <label class="form-check-label" for="flexCheckDefault">
                                Remember my login
                            </label>
                        </div>

                        <button class="btn btn-primary m-1" formaction="@Url.Action("Login")" formmethod="post">Login</button>
                    </form>
                    @{
                        if (TempData["exception"] != null)
                        {
                            <div class="container">
                                <div class="alert alert-danger">
                                    <strong>Warning!</strong> @TempData["exception"]
                                </div>
                            </div>
                        }
                    }
                </div>
                <div class="card-footer">
                    <a asp-action="Registration">Registration</a>
                </div>
            </div>
        </div>
    </div>
</div>